<div id="description" class="jumbotron">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <div id="desc__text" class="container text-center">
          <h1> Online Retailer </h1>
          <p>We now offer global shipping, so you can enjoy shopping our timeless American style wherever you are.
      Shop in your local currency with guaranteed duties and taxes calculated for you at checkout - and no surprises at delivery</p>
        </div>
      </div>
      <% for(let i=0; i < 5; i++) { %>
        <div class="item">
          <img src="assets/images/promotion2.jpg" alt="">
        </div>
      <% } %>
    </div>

    <!-- Indicators -->
    <ol id="indicators" class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

  </div>
</div>

<div class="more">
  <a href="#">Find More About Us</a>
</div>
