<footer class="footer">
  <div class="first">
    <label for=""> Subscript to our Newsletter </label>
    <form id="form" class="form-horizontal">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
        <span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
      </div>
    </form>
  </div>
  <div class="second">
    <div id="link" class="col4 -df -d-co -pvs">
      <span class="f-t -pbm">LET US HELP YOU</span>
      <ul class="-lsn">
        <li ><a class="_link -pbxs" href="#">Help Center</a></li>
        <li><a class="_link -pbxs" href="#">How to buy on Banlyd</a></li>
        <li><a class="_link -pbxs" href="#">Delivery timelines and fees</a></li>
        <li><a class="_link -pbxs" href="#">Return Policy</a></li>
        <li><a class="_link -pbxs" href="#">Corporate and Bulk Purchases</a></li>
        <li><a class="_link -pbxs" href="#">Report a Product</a></li>
      </ul>
    </div>

    <div class="col4 -df -d-co -pvs">
      <span class="f-t -pbm">ABOUT BANLYD GHANA</span>
      <ul class="-lsn">
        <li><a class="_link -pbxs" href="#">About Us</a></li>
        <li><a class="_link -pbxs" href="#">How to buy on Banlyd</a></li>
        <li><a class="_link -pbxs" href="#">Delivery timelines and fees</a>
        </li><li><a class="_link -pbxs" href="#">Return Policy</a></li>
        <li><a class="_link -pbxs" href="#">Corporate and Bulk Purchases</a></li>
        <li><a class="_link -pbxs" href="#">Report a Product</a></li>
      </ul>
    </div>

    <div class="col4 -df -d-co -pvs">
      <span class="f-t -pbm">MAKE MONEY WITH BANLYD</span>
      <ul class="-lsn">
        <li><a class="_link -pbxs" href="#">Help Center</a></li>
        <li><a class="_link -pbxs" href="#">How to buy on Banlyd</a></li>
        <li><a class="_link -pbxs" href="#">Delivery timelines and fees</a>
        </li><li><a class="_link -pbxs" href="#">Return Policy</a></li>
        <li><a class="_link -pbxs" href="#">Corporate and Bulk Purchases</a></li>
        <li><a class="_link -pbxs" href="#">Report a Product</a></li>
      </ul>
    </div>

    <div class="col4 -df -d-co -pvs">
      <span class="f-t -pbm">BANLYD INTERNATIONAL</span>
      <ul class="-lsn">
        <li><a class="_link -pbxs" href="#">Help Center</a></li>
        <li><a class="_link -pbxs" href="#">How to buy on Banlyd</a></li>
        <li><a class="_link -pbxs" href="#">Delivery timelines and fees</a>
        </li><li><a class="_link -pbxs" href="#">Return Policy</a></li>
        <li><a class="_link -pbxs" href="#">Corporate and Bulk Purchases</a></li>
        <li><a class="_link -pbxs" href="#">Report a Product</a></li>
      </ul>
    </div>
  </div>


</footer>
