<div class="well"><p id="stock"> <%= item.stock %> left in store</p></div>
<div class="well"><p> Store: <%= item.stores.name %> </p></div>
<div class="well"><p> Location: <%= item.stores.location %> </p></div>
<div class="well"><p> <%= item.stores.contact %> </p></div>
