<div class="cart-modal">
      <div class="cart-modal-content">
        <span class="close-cart-modal">&times;</span>
        <h1>Total: GHc <%= item.price %> </h1>
        <h1>Your Cart</h1>
        <hr class="solid" />
        <h4 class="total-cart-cost"> <%= item.name %> </h4>
        <div class="cart-checkout-content"></div>
        <hr class="solid" />
        <button class="clear-cart-button" disabled>Clear cart</button>
        <button class="checkout-button" disabled>Checkout</button>
      </div>
</div>
