<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
  </head>
  <body>
    <h1>Cart</h1>

    <div id="content-modal" class="modal-body">
      <ul>
        <li>
          <div class="cart-image">
            <img src="" alt="">
          </div>
          <div class="cart-info">

          </div>
          <div class="cart-price">

          </div>
          <div class="cart-delete">

          </div>
        </li>
      </ul>
    </div>
    
  </body>
</html>
