<header>
  <h2>Official Suits</h2>
</header>
<ul>
  <% for(let i = 0; i < fashion.length; i++) { %>
    <% if(fashion[i].category == "suit") { %>
      <%- include("../item.ejs", {item: fashion[i]}) %>
    <% } %>
  <% } %>
</ul>
